<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Curso</title>
    <link rel="stylesheet" href="/sistema_gerenciamento_cursos/src/main/resources/static/css/style.css">
</head>
<body>
    <h1>Cadastro de Curso</h1>
    <form th:action="@{/curso/salvar}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <label for="nome">Nome do Curso:</label>
        <input type="text" th:field="*{nome}" required/>
        <button type="submit">Salvar</button>
    </form>
    <a href="listar.html">Voltar</a>
</body>
</html>
