<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Cursos</title>
    <link rel="stylesheet" href="/sistema_gerenciamento_cursos/src/main/resources/static/css/style.css">
</head>
<body>
    <h1>Lista de Cursos</h1>
    <a href="form.html">Novo Curso</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="curso : ${cursos}">
                <td th:text="${curso.id}"></td>
                <td th:text="${curso.nome}"></td>
                <td>
                    <a th:href="@{/curso/editar/{id}(id=${curso.id})}">Editar</a>
                    <a th:href="@{/curso/excluir/{id}(id=${curso.id})}">Excluir</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
